[mysql]
auto-rehash
compress
default-character-set = utf8
no-beep

# this pages returns even if they fit on the screen
#pager = less

reconnect
show-warnings
user = root

prompt = \\D \\v\\n(\\U:\\p) [\\d]>
